/*commen css*/
html, body {
    height : 100%;
}

div, ul, li, input, a, p, form, section {
    box-sizing         : border-box;
    -webkit-box-sizing : border-box;
    -ms-box-sizing     : border-box;
}

body {
    background : #F6F6F6;
}

.ovh {
    overflow : hidden;
}

.fl {
    float: left;
}

.fr {
    float : right;
}

.w100 {
    width : 100%;
}

.mt01 {
    margin-top : 24px;
}

.w6 {
    width : 6em !important;
}

.ui_radius {
    border-radius         : 4px;
    -webkit-border-radius : 4px;
    -ms-border-radius     : 4px;
}

.ui_btn {
    display     : inline-block;
    width       : 40%;
    height      : 2.5em;
    line-height : 2.5;
    background  : #0C79BE;
    text-align  : center;
    color       : #fff;
}

.ui_btn_hover {
    background : #085A90;
}

.ui_btn_block {
    display : block;
    width   : 100%;
}
.ui-buttons-row {
    padding: .5em .5em 0 .5em;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.ui-buttons-row .button {
    border-radius: 0;
    border-left-width: 0;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1
}

.ui-buttons-row .button:first-child {
    border-radius: 5px 0 0 5px;
    border-left-width: 1px;
    border-left-style: solid
}

.ui-buttons-row .button:last-child {
    border-radius: 0 5px 5px 0
}

.ui-buttons-row .button.button-round:first-child {
    border-radius: 27px 0 0 27px
}

.ui-buttons-row .button.button-round:last-child {
    border-radius: 0 27px 27px 0
}
.button {
    border: 1px solid #0C79BE;
    color: #0C79BE;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 2;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height: 2.1em;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}
.button.active {
    background: #0C79BE;
    color: #FFF;
}
.ui_btn_01 {
    background : #F4760E;
}

.ui_btn_01_hover {
    background : #B4580A;
}
.ui_btn_01_disable{
    background: #eee;
    color: #bbb;
}
.ui_btn_02 {
    background : #fff;
    border     : 1px solid #0C79BE;
    color      : #0C79BE;
}

.ui_btn_02_hover {
    background : #95C4E3;
}

.ft {
    padding-left  : .5em;
    padding-right : .5em;
    margin-bottom : .5em;
}

.ipt_lable {
    padding-left : 15px;
    font-size    : 17px;
}

.txt01 {
    display     : inline-block;
    font-size   : .7em;
    color       : #777;
    white-space : nowrap;
}
.txt02{
    color : #555;
    font-size: .9em;
}
.color_01 {
    color : green;
}
.color_02 {
    color : #000;
}
.label01{
    font-size: .9em;
}
.c {
    min-height : 100%;
    width      : 100%;
    overflow   : hidden;
}

/*f7 ui*/
.list-block {
    font-size     : 17px;
    margin-bottom : 24px;
}

.list-block ul {
    background    : #FFF;
    list-style    : none;
    padding       : 0;
    margin        : 0;
    border-top    : 1px solid #E1E1E1;
    border-bottom : 1px solid #E1E1E1;
    position      : relative;
}

.list-block li {
    position : relative;
}

.list-block .item-content {
    padding-left            : 15px;
    min-height              : 44px;
    display                 : -webkit-box;
    display                 : -ms-flexbox;
    display                 : -webkit-flex;
    display                 : flex;
    -webkit-box-pack        : justify;
    -ms-flex-pack           : justify;
    -webkit-justify-content : space-between;
    justify-content         : space-between;
    -webkit-box-align       : center;
    -ms-flex-align          : center;
    -webkit-align-items     : center;
    align-items             : center;
}

.list-block .item-media {
    display             : -webkit-box;
    display             : -ms-flexbox;
    display             : -webkit-flex;
    display             : flex;
    -webkit-flex-shrink : 0;
    -ms-flex            : 0 0 auto;
    flex-shrink         : 0;
    -webkit-box-lines   : single;
    -webkit-flex-wrap   : nowrap;
    -ms-flex-wrap       : nowrap;
    flex-wrap           : nowrap;
    -webkit-box-align   : center;
    -ms-flex-align      : center;
    -webkit-align-items : center;
    align-items         : center;
    padding-top         : 7px;
    padding-bottom      : 8px;
}

.list-block .item-inner {
    padding-right           : 30px;
    border-bottom           : 1px solid #E1E1E1;
    width                   : 100%;
    padding-top             : 8px;
    padding-bottom          : 7px;
    min-height              : 44px;
    display                 : -webkit-box;
    display                 : -ms-flexbox;
    display                 : -webkit-flex;
    display                 : flex;
    -webkit-box-flex        : 1;
    -ms-flex                : 1;
    -webkit-box-pack        : justify;
    -ms-flex-pack           : justify;
    -webkit-justify-content : space-between;
    justify-content         : space-between;
    -webkit-box-align       : center;
    -ms-flex-align          : center;
    -webkit-align-items     : center;
    align-items             : center;
}
.list-block .select{
    background-image: url(../images/arr_d.png);
    background-size: 1em .5em;
    background-position: 95% center;
    background-repeat: no-repeat;
}
.list-block .item-media + .item-inner {
    margin-left : 15px;
}

.list-block li:last-child .item-inner, .list-block li:last-child li:last-child .item-inner {
    border-bottom : none;
}

i.icon.icon-form-name {
    background-image : url(../images/user.png);
}

i.icon.icon-form-password {
    background-image : url(../images/pwd.png);
}
i.icon.icon-car{
    background-image: url("../images/ico_car.png");
    width: 35px;
}
i.icon.icon-card{
    background-image: url("../images/ico_card.png");
}
i.icon {
    display             : inline-block;
    vertical-align      : middle;
    background-size     : 100% auto;
    background-position : center;
    background-repeat   : no-repeat;
    font-style          : normal;
    position            : relative;
    width               : 25px;
    height              : 25px;
}

.list-block .item-input {
    width               : 100%;
    margin-top          : -8px;
    margin-bottom       : -7px;
    -webkit-box-flex    : 1;
    -webkit-flex-shrink : 1;
    -ms-flex            : 0 1 auto;
    flex-shrink         : 1;
}

.list-block input[type=text], .list-block input[type=password], .list-block select, .list-block textarea {
    -webkit-appearance : none;
    -ms-appearance     : none;
    appearance         : none;
    border             : none;
    background         : 0 0;
    border-radius      : 0;
    -webkit-box-shadow : none;
    box-shadow         : none;
    display            : block;
    padding            : 0 0 0 15px;
    margin             : 0;
    width              : 100%;
    height             : 43px;
    color              : #000;
    font-size          : 17px;
    font-family        : inherit;
}

.list-block .item-title.label {
    width                   : 4em;
    height                  : 1em;
    -webkit-flex-shrink     : 0;
    -ms-flex                : 0 0 auto;
    flex-shrink             : 0;
    text-align              : justify;
    -webkit-text-align-last : justify; /*chrome 20+*/
    white-space             : normal;
    line-height             : 1;
}

.list-block .item-title.label:after {
    content  : ".";
    display  : inline-block;
    width    : 100%;
    overflow : hidden;
    height   : 0;
}

.list-block .item-title.w_auto {
    width : auto;
}

.list-block .item-input .preText {
    position : absolute;
    left     : 5.7em;
    top      : .5em;
}

.list-block .item-input .preText + input {
    padding-left : 2.5em;
}

.list-block .item-title {
    -webkit-flex-shrink : 1;
    -ms-flex            : 0 1 auto;
    flex-shrink         : 1;
    white-space         : nowrap;
    position            : relative;
    overflow            : hidden;
    text-overflow       : ellipsis;
    max-width           : 100%;
}

.list-block select {
    padding-left : 10px;
}

.list-block .item-input .close {
    display       : none;
    background    : #C9C9C9;
    position      : absolute;
    right         : 10px;
    top           : 10px;
    width         : 25px;
    height        : 25px;
    text-align    : center;
    border-radius : 9999px;
    color         : #fff;
}

.list-block .item-input .tips {
    background    : rgba(0, 0, 0, .2);
    position      : absolute;
    top           : -5px;
    border-radius : 9999px;
    color         : #e00;
    font-size     : 12px;
    padding       : 0 5px;
}

.list-block .item-input .edit {
    position        : absolute;
    right           : 0;
    top             : 6px;
    display         : inline-block;
    width           : 28px;
    height          : 28px;
    background      : url("../images/edit_normal.png");
    background-size : cover;
}

.list-block-title {
    height        : 2em;
    line-height   : 2;
    background    : #FFF;
    padding       : 0 15px;
    border-bottom : 1px solid #AAA;
    font-weight   : bold;
}

/*table*/
#c_Table_b {
    width         : 100%;
    border-bottom : 1px solid #D9D9D9;
}

#c_Table_b tr {
    line-height      : 2;
    border-bottom    : 1px solid #E1E1E1;
    background-color : #FFF;
}

#c_Table_b tr:nth-child(2n) {
    background : #EDEDED;
}

#c_Table_b tr td:first-child {
    width         : 5em;
    border-right  : 1px solid #E1E1E1;
    text-align    : right;
    padding-right : .5em;
    padding-left  : .5em;
    color         : #555;
    color         : #407C41;
}

#c_Table_b tr:nth-child(2n) td:first-child {
    color : #555;
}

#c_Table_b tr td:last-child {
    padding-left : .5em;
}

/*常用组合——圆圈图*/
.ui-circle-pic {
    overflow                   : hidden;
    display                    : inline-block;
    width                      : 3em;
    height                     : 3em;
    border                     : 5px solid #fff;
    border-top-left-radius     : 999px;
    border-top-right-radius    : 999px;
    border-bottom-right-radius : 999px;
    border-bottom-left-radius  : 999px;
    border-radius              : 999px;
    background-color           : #ccc;
    background-clip            : padding-box;
}

.ui-circle-pic img {
    border-radius : 50%;
    border        : none;
    max-width     : 100%;
    max-height    : 100%;
}

.ui-list {
    overflow : hidden;
    margin   : .5em 0;
}

.ui-list li {
    position      : relative;
    overflow      : hidden;
    background    : #fff;
    border        : 1px solid #ddd;
    min-height    : 3.5em;
    margin-bottom : .5em;
    border-radius : 3px;
}
.ui-list-01 li{
    border-top: 3px solid #0C79BE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ui-list-01 li:hover{
    background-color: #f2f2ff;
}
.ui-list-02 li{
    border-left: none;
    border-right: none;
    border-radius: 0;
}
/*双翼*/
.ui-g-fly0-b {
    float   : left;
    width   : 100%;
    height  : 4.5em;
    padding : .7em 1em .7em 3em;
}

.ui-g-fly0-b-l {
    float       : left;
    width       : 3em;
    height      : 4.5em;
    margin-left : -100%;
    background  : #E9F3FD;
    text-align  : center;
    line-height : 1;
}

.ui-g-fly0-b-r {
    float       : right;
    width       : 1em;
    margin-left : -1em;
}

/*折翼（单翼）布局——右宽度固定*/
.ui-g-fly2-b {
    float: left;
    width: 100%;
    padding: .5em 1.5em .5em .5em;
}
.ui-g-fly2-b-r {
    float:right;
    width: 3em;
    margin-left: -3em;
}
.ui-grid-a {
    overflow : hidden;
}

.ui-block-a {
    margin     : 0;
    padding    : 0;
    border     : 0;
    float      : left;
    min-height : 1px;
}

/*两列布局*/
.ui-grid-a .ui-block-a {
    clear : left;
}

.ui-grid-a .ui-block-a, .ui-grid-a .ui-block-b {
    width : 49.95%;
}

.ui-grid-a > :nth-child(n) {
    width        : 50%;
    margin-right : -.5px;
}

.tab {
    overflow : hidden;
    width    : 100%;
    height   : 2.6em;
}

.tab a {
    display       : inline-block;
    height        : 100%;
    line-height   : 2.6;
    background    : #F2F2F1;
    color         : #444;
    border-right  : 0 none;
    border-bottom : 1px solid #CECECE;
    text-align    : center;
}

.tab a.active {
    border-bottom : 2px solid #3879D9;
    background    : #F2F2F1;
    color         : #3879D9;
}

.icon01 {
    display         : inline-block;
    position        : relative;
    width           : .5em;
    height          : 1em;
    top             : 1.5em;
    margin-right    : .2em;
    background-size : cover;
    left            : 0;
}

.icon01_arr_r {
    background-image : url(../images/arr_r.png);
}

.ios7 .dwb {
    height : 2em !important;
}

/*login*/
.login_f {
    height     : 100%;
    background : #E3F3FF;
}

.login_f .h_pic {
    width  : 100%;
    height : auto;
}

.login_f .h_pic img {
    max-width  : 100%;
    max-height : 100%;
}

.login_f .ft .ui_btn:not(.ui_btn_block) {
    margin-top : 60px;
}

.login_f .list-block {
    margin-top : -6px;
}

.login_f .list-block ul {
    border-top : none;
}

.login_f .list-block li:first-child {
    border-bottom : 1px solid #E1E1E1;
}

.login_f .list-block .item-inner {
    border-bottom : none;
}

.login_f .list-block input {
    padding-left : 5px;
}

/*rigister*/
.rigister_f {
    padding-top : 24px;
    background  : #F6F6F6;
    height      : auto;
    width       : 100%;
}

/*details*/
.details {
    overflow   : hidden;
    background : #F6F6F6;
}

/*personal*/
.list-block .item-input .ui-circle-pic {
    margin : 5px 0 0 10px
}

/*carlist*/
.carlist_c {
    padding-left  : .3em;
    padding-right : .3em;
    margin-bottom : .5em;
    width         : 100%;
}

.carlist_c .carimg {
    width       : 100px;
    margin      : 0 auto 10px auto;
    padding-top : 2em;
}

.carlist_c .carimg img {
    max-width  : 100%;
    max-height : 100%;
}

.carlist_c .tips h2 {
    width         : 100%;
    text-align    : center;
    color         : #555;
    margin-bottom : 2em;
}

.carlist_c .ui-g-fly0-b-l img {
    margin-top : 1em;
    width      : 2em;
}

.carlist_c .ui-g-fly0-b-l b {
    font-size : 14px;
    color     : #95989B;
}

.carlist_c .ui-g-fly0-b p {
    color        : #838383;
    padding-left : .5em;
    line-height  : 1.5;
}

.carlist_c .ui-g-fly0-b p .name {
    color : #000;
}
.ui-list-01 li .t1{
    border-bottom: 1px solid #EEE;
    text-align: right;
    padding: 2px 1.5em 2px 0;
    margin-left: .5em;
}
.ui-list-01 li .p1{
    overflow: hidden;
    padding: 5px 1.5em 5px .5em;
}
.ui-list-01 li .icon01{
    position: absolute;
    right: .2em;
    top: .5em;
    left: auto;
    width: .4em;
    height: .8em;
}
/*njyy*/
.ui-list-02 li .ui-g-fly2-b h1.txt02{
    line-height: 2;
}
.ui-list-02 li .ui-g-fly2-b div.txt02>h2{
    position: relative;
    float: left;
    margin-right: -5em;
    min-width: 5em;
    text-align: left;
}
.ui-list-02 li .ui-g-fly2-b div.txt02>h2:after{
    content: ":";
    position: absolute;
    right: -.5em;
}
.ui-list-02 li .ui-g-fly2-b div.txt02>p{
    display: inline-block;
    margin-left: 6em;
    color: #555;
}
.ui-list-02 li .ui-g-fly0-b-r .icon01{
    top: 2.5em;

}
/*violation*/
.print {
    overflow      : hidden;
    font-size     : 28px;
    line-height   : 1.5;
    margin-bottom : 1em;
    margin-top    : -.5em;
}

.print input {
    display : none;
}

.print input + label {
    padding     : 0 .5em 0 2em;
    display     : inline-block;
    position    : relative;
    color       : #999;
    font-size   : 18px;
    margin-left : 1em;
}

.print input:checked + label:after {
    content       : '\2714';
    position      : absolute;
    color         : #FFF;
    display       : inline-block;
    border        : 1px solid;
    text-align    : center;
    border-radius : 3px;
    background    : #0C79BE;
    border        : 1px solid #0C79BE;
}

.print input + label:after {
    content       : '';
    font-size     : 14px;
    position      : absolute;
    top           : .2em;
    left          : 0;
    color         : #99A1A7;
    display       : inline-block;
    border        : 1px solid;
    width         : 20px;
    height        : 20px;
    text-align    : center;
    border-radius : 3px;
}

/*backpwd*/
#fromphone,
#fromemail,
#fromcloser {
    display : none;
}

/*repwd*/
.repwd {
    position    : absolute;
    top         : 8px;
    right       : .5em;
    height      : 2em;
    line-height : 1.9;
    width       : 5em;
    font-size   : .8em;
}

.details_list {
    overflow      : hidden;
    border-bottom : 1px solid #AAA;
}

.details_list li {
    width      : 100%;
    margin-top : .5em;
    background : #FFF;
}

.details_list li h1 {
    padding       : .5em;
    border-bottom : 1px solid #EEE;
}

.details_list > h1 {
    text-align  : center;
    height      : 2em;
    line-height : 2.5;
    font-weight : bold;
}

.noresult {
    text-align : center;
}

.noresult b {
    line-height : 2.5;
    font-size   : 1.5em;
    color       : #AAA;
    text-shadow : 1px 1px 1px #FFF, 1px -1px 1px #FFF, -1px 1px 1px #FFF, -1px -1px 1px #FFF;
}


@media
    /*only screen and (device-aspect-ratio: 2/3),iPhone < 5: 不支持0.5px*/
only screen and (device-aspect-ratio: 40/71),/*iPhone 5:*/
only screen and (device-aspect-ratio: 667/375),/*iPhone 6:*/
only screen and (device-aspect-ratio: 16/9) {/*iPhone 6 Plus:*/
    .list-block ul {
        border-top    : .5px solid #E1E1E1;
        border-bottom : .5px solid #E1E1E1;
    }

    .list-block .item-inner,
    .list-block-title,
    .ui-list li,
    .tab a,
    .tab a.active,
    #c_Table_b,
    #c_Table_b tr,
    .login_f .list-block li:first-child,
    .details_list,
    .details_list li h1 {
        border-bottom-width : .5px;
    }

    .print input:checked + label:after, .print input + label:after {
        border : .5px solid #0C79BE;
    }
}
